body{
    margin: 0;
    padding: 0;
}

header{
    background-color: #EDDDD0;
    width: 100vw;
    padding: 10px 20px;
    position: fixed;
}

header > a{
    font-size: 20px;
    margin-left: 20px;
}

.container{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100vw;

}

footer{
    background-color: #EDDDD0;
    width: 100vw;
    padding: 10px 20px;
}

.container > .col1{
    background-color: #6E8783;
    padding: 100px;
    width: 100vw;

}
.container > .col2{
    background-color: #334259;
    padding: 450px;
    width: 100vw;

}

img{
    width: 400px;
}
