body{
    margin: 0;
    padding: 0;
}

header{
    background-color: #EDDDD0;
    width: 100vw;
    padding: 10px 20px;
    position: fixed;
}

header > a{
    font-size: 20px;
    margin-left: 20px;
}

.container{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100vw;

}

.container >.col1 > ol{
    margin-bottom: 10px;
    margin-left: -65px;
    
}

.container > .col1 > ol > li{
    line-height: 4;

}

.container > .col1 > h3{
    margin-left: -40px;
    margin-bottom: 10px;
    display: inline-block;
}

footer{
    background-color: #EDDDD0;
    width: 100vw;
    padding: 10px 20px;
}

.container > .col1{
    background-color: #6E8783;
    padding: 80px;
    width: 100vw;

}
.container > .col2{
    background-color: #334259;
    padding: 450px;
    width: 100vw;

}

.grid-container{
    display: grid;
    background-color: #6E8783;
    grid-template-rows: 10rem 2fr 10rem;
    grid-template-columns: 500px 1fr 200px;
    gap: 5px;
    grid-template-areas:
        'h h h'
        's m m'
        'f f f';
    width: 100vw;
    height: 100vh;
}

.image{
    grid-area: s;
    margin-left: 35px;

}

.paragraph{
    grid-area: m;
}

.header{
    grid-area: h;
    margin-left: 35px;
    margin-top: 45px;
    display: inline-block;
}

img{
    width: 400px;
}
